<div class="row" ng-controller="ProfileCtrl">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Your Details</strong>
            </div>
            <div class="panel-body">
                <p><strong>Twoje id:</strong> {{profile.id}}</p>
                <p><strong>Twój email:</strong> {{profile.email}}</p>
                <p><strong>Data rejestracji:</strong> {{profile.registered}}</p>
            </div>
        </div>
    </div>
</div>