<div class="row" ng-controller="AdminUsersCtrl">

    <div class="col-md-12">

        <div class="tab-content">
            <div id="all" class="tab-pane active">

                <table class="table table-hover members-table middle-align">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="hidden-xs hidden-sm"></th>
                            <th>Name and Role</th>
                            <th class="hidden-xs hidden-sm">E-Mail</th>
                            <th>ID</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced cbr-checked"><div class="cbr-input"><input type="checkbox" checked="" value="1" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-1.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">Jack Gates</a>
                                <span>Administrator</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">jack@topshop-tv.com</span>
                            </td>
                            <td class="user-id">
                                1232518142
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced cbr-checked"><div class="cbr-input"><input type="checkbox" checked="" value="2" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-2.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">Arlind Nushi</a>
                                <span>Subscriber</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">me@arlindnushi.com</span>
                            </td>
                            <td class="user-id">
                                1232518110
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" value="1" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-3.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">Bryan Green</a>
                                <span>Editor</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">bryan@green.com</span>
                            </td>
                            <td class="user-id">
                                1232518153
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" value="1" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-4.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">John Smith</a>
                                <span>Administrator</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">johnsmith@gmail.com</span>
                            </td>
                            <td class="user-id">
                                1234567890
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" value="1" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-5.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">Nicholas Walker</a>
                                <span>Editor</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">nickw@live.com</span>
                            </td>
                            <td class="user-id">
                                1232518167
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced cbr-checked"><div class="cbr-input"><input type="checkbox" checked="" value="6" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-1.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">Jack Gates</a>
                                <span>Administrator</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">jack@topshop-tv.com</span>
                            </td>
                            <td class="user-id">
                                1232518142
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced cbr-checked"><div class="cbr-input"><input type="checkbox" checked="" value="7" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-2.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">Arlind Nushi</a>
                                <span>Subscriber</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">me@arlindnushi.com</span>
                            </td>
                            <td class="user-id">
                                1232518110
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" value="8" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-3.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">Bryan Green</a>
                                <span>Editor</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">bryan@green.com</span>
                            </td>
                            <td class="user-id">
                                1232518153
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" value="9" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-4.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">John Smith</a>
                                <span>Administrator</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">johnsmith@gmail.com</span>
                            </td>
                            <td class="user-id">
                                1234567890
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" value="10" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-5.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">Nicholas Walker</a>
                                <span>Editor</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">nickw@live.com</span>
                            </td>
                            <td class="user-id">
                                1232518167
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-sm-6">

                        <div class="members-table-actions">
                            <div class="selected-items">
                                <span>2</span>
                                members selected
                            </div>

                            <div class="selected-actions">
                                <a class="edit" href="#">Edit Profile</a>
                                or
                                <a class="delete" href="#">Delete</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 text-right text-center-sm">
                        <ul class="pagination pagination-sm no-margin">
                            <li>
                                <a href="#">
                                    <i class="fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li class="disabled">
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">6</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div id="administrators" class="tab-pane">

                <table class="table table-hover members-table middle-align">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="hidden-xs hidden-sm"></th>
                            <th>Name and Role</th>
                            <th class="hidden-xs hidden-sm">E-Mail</th>
                            <th>ID</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced cbr-checked"><div class="cbr-input"><input type="checkbox" checked="" value="1" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-1.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">Jack Gates</a>
                                <span>Administrator</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">jack@topshop-tv.com</span>
                            </td>
                            <td class="user-id">
                                1232518142
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" value="1" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-4.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">John Smith</a>
                                <span>Administrator</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">johnsmith@gmail.com</span>
                            </td>
                            <td class="user-id">
                                1234567890
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-sm-12">

                        <div class="members-table-actions">
                            <div class="selected-items">
                                <span>1</span>
                                members selected
                            </div>

                            <div class="selected-actions">
                                <a class="edit" href="#">Edit Profile</a>
                                or
                                <a class="delete" href="#">Delete</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div id="subscribers" class="tab-pane">

                <table class="table table-hover members-table middle-align">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="hidden-xs hidden-sm"></th>
                            <th>Name and Role</th>
                            <th class="hidden-xs hidden-sm">E-Mail</th>
                            <th>ID</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" value="2" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-2.png">
                                </a>
                            </td>
                            <td class="user-name hidden-xs hidden-sm">
                                <a class="name" href="#">Arlind Nushi</a>
                                <span>Subscriber</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">me@arlindnushi.com</span>
                            </td>
                            <td class="user-id">
                                1232518110
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" value="1" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-3.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">Bryan Green</a>
                                <span>Editor</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">bryan@green.com</span>
                            </td>
                            <td class="user-id">
                                1232518153
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-cb">
                                <div class="cbr-replaced"><div class="cbr-input"><input type="checkbox" value="1" name="members-list[]" class="cbr cbr-done"></div><div class="cbr-state"><span></span></div></div>
                            </td>
                            <td class="user-image hidden-xs hidden-sm">
                                <a href="#">
                                    <img alt="user-pic" class="img-circle" src="assets/images/user-5.png">
                                </a>
                            </td>
                            <td class="user-name">
                                <a class="name" href="#">Nicholas Walker</a>
                                <span>Editor</span>
                            </td>
                            <td class="hidden-xs hidden-sm">
                                <span class="email">nickw@live.com</span>
                            </td>
                            <td class="user-id">
                                1232518167
                            </td>
                            <td class="action-links">
                                <a class="edit" href="#">
                                    <i class="linecons-pencil"></i>
                                    Edit Profile
                                </a>

                                <a class="delete" href="#">
                                    <i class="linecons-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-sm-12">

                        <div class="members-table-actions">
                            <div class="selected-items">
                                <span>0</span>
                                members selected
                            </div>

                            <div class="selected-actions">
                                <a class="edit" href="#">Edit Profile</a>
                                or
                                <a class="delete" href="#">Delete</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>